# Code

In [74]:
import pandas as pd

## Load Data

From the elements that our software searched using the 2 LmSIDER elements + the consensus after that, let's join:
- Elements that passed the filter: 2069 sequences
- Elements that did not pass the filter but have the hallmark win an evalue of $< 10^{-3}$ ==> 23 elements

In [75]:
# Let's load the data
positive_elem = pd.read_csv("./data/consensus+LmSIDER2A+B/positives_testing_elements.csv", sep=",", header=0)
print(positive_elem.shape)
print(positive_elem.dtypes)
positive_elem.head()

(2069, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,1,1000,plus,ACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCA...
1,LinJ.01,24093,25080,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
2,LinJ.01,35371,36297,plus,ACTCCCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...
3,LinJ.01,39790,40595,plus,ATTCTACCGCGAGCAAGGCAGCACACAGACGCACGCACAGCCACAG...
4,LinJ.01,54983,55909,plus,ACTCTCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...

In [76]:
# Lets load the 23 sequences
recaugh_df = pd.read_csv("./data/consensus+LmSIDER2A+B/neg_matched_with_LmSIDER2A+B+consensus_and_evalue_10pow-3.csv", sep=",", header=0)
print(recaugh_df.shape)
print(recaugh_df.dtypes)
recaugh_df.head()

(23, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.02,259043,259677,plus,CCCCATTGCGTGGCGCGAAGCGGCGCTAGACGCGCACGAAAACACC...
1,LinJ.03,237552,237702,plus,GTGCGGGGGAGCCAGGCAGCCCACCCACCCACCCATCCCCTATCCC...
2,LinJ.04,331481,332011,plus,GTCGCTCTGACCTCCCCCTCTCACGCCCTAGGCACCCTGGCCCTGC...
3,LinJ.04,362873,363525,plus,CATCCGGATGACAGGTGGGGGAGGGGGTGCGCACACCTCAGCGCGT...
4,LinJ.04,391322,391906,plus,GTCGCTCTGACCTCCCCCTCTCACGCCCTAGGCACCCTGGCCCTGC...

In [77]:
# Let's join both dataframes
all_elem = pd.concat([positive_elem, recaugh_df], axis=0, ignore_index=True)
all_elem.sort_values(by=["sseqid", "sstart"], inplace=True)
print(all_elem.shape)
print(all_elem.dtypes)
all_elem.head()

(2092, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,1,1000,plus,ACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCA...
1,LinJ.01,24093,25080,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...
2,LinJ.01,35371,36297,plus,ACTCCCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...
3,LinJ.01,39790,40595,plus,ATTCTACCGCGAGCAAGGCAGCACACAGACGCACGCACAGCCACAG...
4,LinJ.01,54983,55909,plus,ACTCTCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...

In [78]:
# Save data
all_elem.to_csv("./data/consensus+LmSIDER2A+B/positive_data+recaught.csv", sep=",", index=False, header=True)

Let's take the negative elements that don't share the same "sstart" and "send" in recaugh_fd

In [79]:
# Load data
neg_data = pd.read_csv("./data/consensus+LmSIDER2A+B/negatives_testing_elements.csv", sep=",", header=0)
print(neg_data.shape)
print(neg_data.dtypes)

(714, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

In [80]:
# the data frame to compare
print(recaugh_df.shape)
print(recaugh_df.dtypes)
recaugh_df.head()

(23, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.02,259043,259677,plus,CCCCATTGCGTGGCGCGAAGCGGCGCTAGACGCGCACGAAAACACC...
1,LinJ.03,237552,237702,plus,GTGCGGGGGAGCCAGGCAGCCCACCCACCCACCCATCCCCTATCCC...
2,LinJ.04,331481,332011,plus,GTCGCTCTGACCTCCCCCTCTCACGCCCTAGGCACCCTGGCCCTGC...
3,LinJ.04,362873,363525,plus,CATCCGGATGACAGGTGGGGGAGGGGGTGCGCACACCTCAGCGCGT...
4,LinJ.04,391322,391906,plus,GTCGCTCTGACCTCCCCCTCTCACGCCCTAGGCACCCTGGCCCTGC...

In [81]:
# take the elements that are not in recaptured data
neg_data_corrected = pd.concat([neg_data, recaugh_df]).drop_duplicates(keep=False)
print(neg_data_corrected.shape)
print(neg_data_corrected.dtypes)
neg_data_corrected.head()

(691, 5)
sseqid     object
sstart      int64
send        int64
sstrand    object
sseq       object
dtype: object

,sseqid,sstart,send,sstrand,sseq
0,LinJ.01,113760,114388,plus,CAGCGCCATGCACGACATGGCCGCTGACGTCCGTAGCCCTAACTCG...
1,LinJ.01,261866,262439,plus,CGGACTTGGCAAGTGGCCGCCATCGATGAAAACGCACCATGCCTTT...
2,LinJ.01,272496,275901,plus,GTCAGAACAACGAAGCCGCCCCCCATCACTGCCTCCCTCTACGTAC...
3,LinJ.02,95421,95743,plus,TCCGCGATCCGTGCAGTTGGCGCCGGCCCCTCCTTCACTGCCGATG...
4,LinJ.02,97368,97489,plus,TCGAGCTCAGCTCTGGGGCACGGTTTGGCGGGCGTGGAAGTGGGCC...

In [82]:
neg_data_corrected.to_csv("./data/consensus+LmSIDER2A+B/neg_data_corrected.csv", sep=",", index=False, header=True)

# Checking if there are no matches in coordinates between the new data

In [83]:
# We have two data frames now
## The new positive data frame with 2092 elements
pos_elems_check = all_elem.copy()
print(pos_elems_check.shape)

# The new negative data frame with 691 elements
neg_elems_check = neg_data_corrected.copy()
print(neg_elems_check.shape)

(2092, 5)
(691, 5)

In [84]:
# Firts let's create another column of pandas interval for the positive elements
pos_elems_check["interval"] = pos_elems_check.apply(lambda x: pd.Interval(left=x["sstart"], right=x["send"], closed="both"), axis=1)
pos_elems_check.head()

,sseqid,sstart,send,sstrand,sseq,interval
0,LinJ.01,1,1000,plus,ACACCAGTACACCAGTACACCAGTACACCAGTACACCAGTACACCA...,"[1, 1000]"
1,LinJ.01,24093,25080,plus,GGGGGAGGCGGGGGAGGCGGGGGGCACGCACCTCCATGCGTGGCAT...,"[24093, 25080]"
2,LinJ.01,35371,36297,plus,ACTCCCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...,"[35371, 36297]"
3,LinJ.01,39790,40595,plus,ATTCTACCGCGAGCAAGGCAGCACACAGACGCACGCACAGCCACAG...,"[39790, 40595]"
4,LinJ.01,54983,55909,plus,ACTCTCATCGCCTGGTGCGAAGCAGCGCAAGACACACGCGCGCTGC...,"[54983, 55909]"

In [85]:
# The same with the negative elements
neg_elems_check["interval"] = neg_elems_check.apply(lambda x: pd.Interval(left=x["sstart"], right=x["send"], closed="both"), axis=1)
neg_elems_check.head()

,sseqid,sstart,send,sstrand,sseq,interval
0,LinJ.01,113760,114388,plus,CAGCGCCATGCACGACATGGCCGCTGACGTCCGTAGCCCTAACTCG...,"[113760, 114388]"
1,LinJ.01,261866,262439,plus,CGGACTTGGCAAGTGGCCGCCATCGATGAAAACGCACCATGCCTTT...,"[261866, 262439]"
2,LinJ.01,272496,275901,plus,GTCAGAACAACGAAGCCGCCCCCCATCACTGCCTCCCTCTACGTAC...,"[272496, 275901]"
3,LinJ.02,95421,95743,plus,TCCGCGATCCGTGCAGTTGGCGCCGGCCCCTCCTTCACTGCCGATG...,"[95421, 95743]"
4,LinJ.02,97368,97489,plus,TCGAGCTCAGCTCTGGGGCACGGTTTGGCGGGCGTGGAAGTGGGCC...,"[97368, 97489]"

In [86]:
# Let's grup for "sseqid"
pos_elems_grouped = pos_elems_check.groupby("sseqid")
neg_elems_grouped = neg_elems_check.groupby("sseqid")

In [87]:
# Let's check for each group of positive elements if there is any negative if the elements are exactly the same, overlap or are inside one another
same_elems = []
overlaping_elems = []
inside_elems = []
inside_elems2 = []
for name1, data1 in pos_elems_grouped:
    for name2, data2 in neg_elems_grouped:
        if name2 != name1:
            # print(f">> SKIPPING Chrom. Chromosome in negative elements {name2} is different from the one in positive elements {name1}")
            continue
        else:
            print("="*50)
            print(f"Checking chromosome {name1}")
            # Checking for same coordinates
            for _, elem1 in data1.iterrows():
                for _, elem2 in data2.iterrows():
                    if elem1["interval"] == elem2["interval"]:
                        print(f"Found same element in chromosome {name1}")
                        same_elems.append(elem1)
                    elif elem1["interval"].overlaps(elem2["interval"]):
                        print(f"Found overlaping element in chromosome {name1}")
                        overlaping_elems.append(elem1)
                    else:
                        if (elem1["sstart"] > elem2["sstart"] and elem1["sstart"] < elem2["send"] /
                            elem1["send"] < elem2["send"] and elem1["send"] > elem2["sstart"]):
                            print(f"Found element inside another element in chromosome {name1}")
                            inside_elems.append(elem1)
                        if (elem2["sstart"] > elem1["sstart"] and elem2["sstart"] < elem1["send"] /
                            elem2["send"] < elem1["send"] and elem2["send"] > elem1["sstart"]):
                            print(f"Found element inside another element in chromosome {name1}")
                            inside_elems2.append(elem1)

print("*"*50)
print(f"Found {len(same_elems)} elements that are the same")
print(f"Found {len(overlaping_elems)} elements that are overlaping")
print(f"Found {len(inside_elems)} elements that are inside another element")
print(f"Found {len(inside_elems2)} elements that are inside another element")

==================================================
Checking chromosome LinJ.01
==================================================
Checking chromosome LinJ.02
==================================================
Checking chromosome LinJ.03
==================================================
Checking chromosome LinJ.04

==================================================
Checking chromosome LinJ.05
==================================================
Checking chromosome LinJ.06
==================================================
Checking chromosome LinJ.07
==================================================
Checking chromosome LinJ.08
==================================================
Checking chromosome LinJ.09
==================================================
Checking chromosome LinJ.10
==================================================
Checking chromosome LinJ.11
==================================================
Checking chromosome LinJ.12
==================================================
Checking chromosome LinJ.13
==================================================
Checking chromosome LinJ.14
==================================================
Checking chromosome LinJ.15
==================================================
Checking chromosome LinJ.16
==================================================
Checking chromosome LinJ.17
==================================================
Checking chromosome LinJ.18
==================================================
Checking chromosome LinJ.19
==================================================
Checking chromosome LinJ.20
==================================================
Checking chromosome LinJ.21
==================================================
Checking chromosome LinJ.22
==================================================
Checking chromosome LinJ.23
==================================================
Checking chromosome LinJ.24
==================================================
Checking chromosome LinJ.25
==================================================
Checking chromosome LinJ.26
==================================================
Checking chromosome LinJ.27
==================================================
Checking chromosome LinJ.28
==================================================
Checking chromosome LinJ.29
==================================================
Checking chromosome LinJ.30
==================================================
Checking chromosome LinJ.31
==================================================
Checking chromosome LinJ.32
==================================================
Checking chromosome LinJ.33
==================================================
Checking chromosome LinJ.34
==================================================
Checking chromosome LinJ.35
==================================================
Checking chromosome LinJ.36
**************************************************
Found 0 elements that are the same
Found 0 elements that are overlaping
Found 0 elements that are inside another element
Found 0 elements that are inside another element

In [88]:
print(pd.DataFrame(same_elems).shape)
pd.DataFrame(same_elems)

(0, 0)

Empty DataFrame
Columns: []
Index: []