In [4]:
import numpy as np
import pandas as pd
import os
import subprocess


from Bio import SeqIO
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord

In [2]:
#And the blaster
def blastn_blaster(query_path, dict_path, perc_identity):
    cmd = "blastn -word_size 11 -query " \
        + query_path + " -db " \
        + dict_path \
        + " -perc_identity " + str(perc_identity) \
        + " -outfmt '10 qseqid sseqid pident length qstart qend sstart send evalue bitscore qlen slen'"
    data = subprocess.check_output(cmd, shell=True, universal_newlines=True)  # Important the E value
    data = pd.DataFrame([x.split(",") for x in data.split("\n") if x])
    data.columns = ["qseqid", "sseqid", "pident", "length", "qstart", "qend", "sstart", "send", "evalue", "bitscore", "qlen", "slen"]
    return data

In [5]:
ingi_df = blastn_blaster("./data/ingi.fasta", 
                         "../0.Data/genome/L_infantum/TriTrypDB-67_LinfantumJPCM5_Genome.fasta", 
                         60)
print(ingi_df.shape)
ingi_df.head()

(96, 12)

,qseqid,sseqid,pident,length,qstart,qend,sstart,send,evalue,bitscore,qlen,slen
0,ingi_1,LinJ.28,83.333,60,17,73,836160,836102,2.34e-07,52.8,79,1205031
1,ingi_1,LinJ.28,87.097,31,9,39,532773,532803,0.024,36.2,79,1205031
2,ingi_1,LinJ.28,94.737,19,61,79,110756,110738,1.1,30.7,79,1205031
3,ingi_1,LinJ.28,100.000,16,8,23,116520,116535,1.1,30.7,79,1205031
4,ingi_1,LinJ.28,100.000,16,8,23,854566,854581,1.1,30.7,79,1205031

In [5]:
ingi_df_positives = blastn_blaster("./data/ingi.fasta",
                                   "../4.BEDOPS_join_strands/filtered_data/blaster_pos/positives.fasta",
                                   60)
print(ingi_df_positives.shape)
ingi_df_positives.head()

(210, 12)

,qseqid,sseqid,pident,length,qstart,qend,sstart,send,evalue,bitscore,qlen,slen
0,ingi_1,Seq_1028,83.333,60,17,73,529,471,1.04e-08,52.8,79,985
1,ingi_1,Seq_1948,86.957,46,1,44,17,61,1.35e-07,49.1,79,1000
2,ingi_1,Seq_1943,86.957,46,1,44,17,61,1.35e-07,49.1,79,1000
3,ingi_1,Seq_701,87.805,41,2,42,792,832,1.35e-07,49.1,79,1575
4,ingi_1,Seq_688,87.805,41,2,42,706,666,1.35e-07,49.1,79,1130